
.container {
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 75px;
}

p {
    font-size: 20px;
}

.infocontainer {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.buttonbox {
    padding-top: 200px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
}

.imagecontainer > img {
    border-radius: 20px;
}