
main {
    display: flex;
    justify-content: center;
}

.containerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: white;
}

h1, h2 {
    font-size: 35px;
}